.contenedor-ingredientes {
  display: flex;
  flex-direction: column;
 // width: 200px;
  gap: 1rem;
  padding: 10px;
}

.tarjeta-ingrediente {
  padding: 0.5rem;
}

.titulo-ingrediente {
  color: #04f3cb;
  //font-weight: bold;
}

.grid-ingredientes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}