.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  min-width: 320px;
  max-width: 500px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.botones {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}

h5{
  color: aqua;
}

